/* START_LOGIN */

.content .container {background: #FFF;box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);}

.content .container h3{text-align: center;padding: 20px 0px;}

.content .container .login{
    width: 50%;
    margin: auto;
    min-width: 300px;
}

.login .form-group{}

.login .form-group label{}

.login .form-group input{}

.end-login {
    text-align: center;
    padding: 15px 0px;
}

.login button{}

.login a{
    float: right;
}


/* END_LOGIN */