hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

a:hover {
    text-decoration: none;
}

.block-signin {
    width: 100%;
    height: auto;
}

.block-signin .signin.container {
    padding: 0;
    max-width: 1170px;
    min-width: 300px;
}

.block-signin .signin.container .titlebar {
    width: 95%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}

.block-signin .signin.container .titlebar .title-sign {
    width: 50%;
    text-align: center;
    margin: auto;
}

.block-signin .signin.container .titlebar .title-sign > h3 {
    color: black;
    font-weight: bold;
    font-size: 3.3rem;
    margin-top: 35px;
}

.block-signin .form {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.block-signin .form .input-selection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.block-signin .form .input-selection > dt {
    width: 25%;
    text-align: right;
}

.block-signin .form .input-selection > dt > label {
    font-weight: 500;
    margin-bottom: 0;
}

.block-signin .form .input-selection > dt > p {
    font-size: 10px;
    color: #969696;
}

.block-signin .form .input-selection > dl {
    margin-left: 20px;
    width: 65%;
    margin-bottom: 0;
}

.block-signin .form .input-selection > dl > .input-1 {
    width: 100%;
    margin-bottom: 15px;
    z-index: 1000;
    border: 1px solid #c9c9c9;
    height: 30px;
}

.block-signin .form .input-selection > dl > p {
    font-size: 10px;
    color: #969696;
}

.block-signin .form .input-birthday {
    margin-top: 20px;
}

.block-signin .form .input-birthday > dl {
    margin-top: 5px;
}

.block-signin .form .robot {
    margin-top: 15px;
}

.block-signin .form .robot > dl > iframe {
    width: 58%;
}

.block-signin .form .robot > dl > .btn-signUp {
    margin: 20px 0px 30px 20px;
    position: relative;
}

.block-signin .form .robot > dl > .btn-signUp > a {
    padding: 5px 25px 5px 25px;
    color: black;
}

option {
    height: 10px;
}

@media (max-width: 576px) {
    html,
    body {
        width: 100% !important;
        min-width: 300px;
    }
    hr {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        width: 90%;
        margin: auto;
    }
    .block-signin {
        width: 100% !important;
        min-width: 300px;
    }
    .block-signin .signin.container {
        width: 100% !important;
    }
    .block-signin .signin.container form {
        width: 100% !important;
    }
    .block-signin .signin.container form .input-selection {
        width: 100% !important;
        display: inline-block !important;
    }
    .block-signin .signin.container form .input-selection > dt {
        text-align: left !important;
        width: 90% !important;
        margin: auto;
    }
    .block-signin .signin.container form .input-selection > dt > label {
        margin-top: 5px;
        margin-bottom: 5px !important;
    }
    .block-signin .signin.container form .input-selection > dl {
        width: 100% !important;
    }
    .block-signin .signin.container form .input-selection > dl > input {
        width: 90% !important;
    }
    .block-signin .signin.container form .input-selection > dl > p {
        width: 90%;
    }
    .block-signin .signin.container form .input-selection > dl .input-check-male {
        width: 4% !important;
    }
    .block-signin .signin.container form .input-birthday > dl {
        margin-left: 25px !important;
    }
    .block-signin .signin.container form .robot {
        width: 100%;
        margin-top: 10px !important;
    }
    .block-signin .signin.container form .robot > dt {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .block-signin .signin.container form .robot > dl {
        width: 90% !important;
        margin: auto;
        margin-left: 0;
    }
    .block-signin .signin.container form .robot > dl > iframe {
        width: 77% !important;
    }
}

#content {}

#content .container {
    background: #FFF;
}

@media (max-width: 500px) {
    .robot > dl > iframe {
        width: 100% !important;
        min-width: 100%;
    }
}hr {
     margin-top: 10px !important;
     margin-bottom: 10px !important;
 }

a:hover {
    text-decoration: none;
}

.block-signin {
    width: 100%;
    height: auto;
}

.block-signin .signin.container {
    padding: 0;
    max-width: 1170px;
    min-width: 300px;
}

.block-signin .signin.container .titlebar {
    width: 95%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}

.block-signin .signin.container .titlebar .title-sign {
    width: 50%;
    text-align: center;
    margin: auto;
}

.block-signin .signin.container .titlebar .title-sign > h3 {
    color: black;
    font-weight: bold;
    font-size: 3.3rem;
    margin-top: 35px;
}

.block-signin .form {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.block-signin .form .input-selection {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.block-signin .form .input-selection > dt {
    width: 25%;
    text-align: right;
}

.block-signin .form .input-selection > dt > label {
    font-weight: 500;
    margin-bottom: 0;
}

.block-signin .form .input-selection > dt > p {
    font-size: 10px;
    color: #969696;
}

.block-signin .form .input-selection > dl {
    margin-left: 20px;
    width: 65%;
    margin-bottom: 0;
}

.block-signin .form .input-selection > dl > .input-1 {
    width: 100%;
    margin-bottom: 15px;
    z-index: 1000;
    border: 1px solid #c9c9c9;
    height: 30px;
}

.block-signin .form .input-selection > dl > p {
    font-size: 10px;
    color: #969696;
}

.block-signin .form .input-birthday {
    margin-top: 20px;
}

.block-signin .form .input-birthday > dl {
    margin-top: 5px;
}

.block-signin .form .robot {
    margin-top: 15px;
}

.block-signin .form .robot > dl > iframe {
    width: 58%;
}

.block-signin .form .robot > dl > .btn-signUp {
    margin: 20px 0px 30px 20px;
    position: relative;
}

.block-signin .form .robot > dl > .btn-signUp > a {
    padding: 5px 25px 5px 25px;
    color: black;
}

option {
    height: 10px;
}

@media (max-width: 576px) {
    html,
    body {
        width: 100% !important;
        min-width: 300px;
    }
    hr {
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        width: 90%;
        margin: auto;
    }
    .block-signin {
        width: 100% !important;
        min-width: 300px;
    }
    .block-signin .signin.container {
        width: 100% !important;
    }
    .block-signin .signin.container form {
        width: 100% !important;
    }
    .block-signin .signin.container form .input-selection {
        width: 100% !important;
        display: inline-block !important;
    }
    .block-signin .signin.container form .input-selection > dt {
        text-align: left !important;
        width: 90% !important;
        margin: auto;
    }
    .block-signin .signin.container form .input-selection > dt > label {
        margin-top: 5px;
        margin-bottom: 5px !important;
    }
    .block-signin .signin.container form .input-selection > dl {
        width: 100% !important;
    }
    .block-signin .signin.container form .input-selection > dl > input {
        width: 90% !important;
    }
    .block-signin .signin.container form .input-selection > dl > p {
        width: 90%;
    }
    .block-signin .signin.container form .input-selection > dl .input-check-male {
        width: 4% !important;
    }
    .block-signin .signin.container form .input-birthday > dl {
        margin-left: 25px !important;
    }
    .block-signin .signin.container form .robot {
        width: 100%;
        margin-top: 10px !important;
    }
    .block-signin .signin.container form .robot > dt {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .block-signin .signin.container form .robot > dl {
        width: 90% !important;
        margin: auto;
        margin-left: 0;
    }
    .block-signin .signin.container form .robot > dl > iframe {
        width: 77% !important;
    }
}

#content {}

#content .container {
    background: #FFF;
}

@media (max-width: 500px) {
    .robot > dl > iframe {
        width: 100% !important;
        min-width: 100%;
    }
}